In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# https://analyzingalpha.com/yfinance-python
# https://tradingrush.net/trscore/

In [2]:
import indicators as ind

In [ ]:
ticker = 'SPY'
start_date = pd.Timestamp("2019-01-01")
end_date = pd.Timestamp.today()
df = yf.download(ticker, start=start_date, end=end_date)
df.to_csv(ticker+'.csv')

In [7]:
df= pd.read_csv('SPY.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,245.979996,251.210007,245.949997,250.179993,232.308762,126925200
1,2019-01-03,248.229996,248.570007,243.669998,244.210007,226.765244,144140700
2,2019-01-04,247.589996,253.110001,247.169998,252.389999,234.360931,142628800
3,2019-01-07,252.690002,255.949997,251.690002,254.380005,236.208771,103139100
4,2019-01-08,256.820007,257.309998,254.000000,256.769989,238.428040,102512600

In [8]:
ind.bbp(df, 'Adj Close', period=14)
ind.rsi(df, 'Adj Close',14)
ind.macd(df, 'Adj Close',12,26)
ind.chaikin(df, 3, 10)

In [9]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,BBP,RSI,MACD,MACD_signal,ADL,CO
0,2019-01-02,245.979996,251.210007,245.949997,250.179993,232.308762,126925200,NaN,NaN,0.000000,0.000000,7.721627e+07,0.000000e+00
1,2019-01-03,248.229996,248.570007,243.669998,244.210007,226.765244,144140700,NaN,NaN,-0.442218,-0.245677,-1.123705e+08,-6.032305e+07
2,2019-01-04,247.589996,253.110001,247.169998,252.389999,234.360931,142628800,NaN,NaN,-0.177722,-0.217826,1.080521e+08,-9.382304e+06
3,2019-01-07,252.690002,255.949997,251.690002,254.380005,236.208771,103139100,NaN,NaN,0.178936,-0.083422,2.711667e+07,-1.344215e+07
4,2019-01-08,256.820007,257.309998,254.000000,256.769989,238.428040,102512600,NaN,NaN,0.633365,0.129806,6.906383e+07,-5.341541e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,2023-07-24,453.369995,455.040009,452.299988,454.200012,454.200012,54023400,0.775037,68.934108,6.268345,6.011712,2.089996e+07,-6.851637e+06
1147,2023-07-25,453.920013,456.739990,453.869995,455.440002,455.440002,55191200,0.781343,71.927267,6.286185,6.066607,5.192588e+06,-5.308412e+05
1148,2023-07-26,454.470001,456.989990,453.380005,455.510010,455.510010,71052900,0.750661,82.123953,6.234110,6.100108,1.279399e+07,4.521826e+06
1149,2023-07-27,459.019989,459.440002,451.549988,452.489990,452.489990,92194400,0.593367,76.222651,5.881353,6.056357,-7.022664e+07,-2.023791e+07
1150,2023-07-28,455.880005,457.779999,452.489990,456.920013,456.920013,79949400,0.812947,78.862810,5.891344,6.023354,5.395499e+07,1.098526e+07

In [12]:
3**4

81